.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  h2{
    font-size: 1.5em;
  }
  .user-container {
    color: black;
    background: white;
    padding: 5px;
    margin:10px 0px;
    border-radius: 5px;
    height: auto;
    word-wrap: break-word;

    .todo-view-button{
      margin: 10px;
    }
    .todo-company{
      min-height: 60px;
    }
  }
}
