<div class="wrapper container-fluid">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let user of users">
    <!-- <div class="clear"></div> -->
    <div class="user-container">
    <div class="user-name">
      <h2>{{user.name}}</h2>
    </div>
    <ng-container *ngIf="user.email">
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-send app-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><a class="app-link" href="mailto:{{user.email}}">{{user.email}}</a></div>
    </ng-container>
  <ng-container *ngIf="user.address">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-address-card app-icon"></i></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">{{user.address?.street}},{{user.address?.suite}},<br/>{{user.address?.city}}-{{user.address?.zipcode}}</div>
  </ng-container>
    <ng-container>
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-phone app-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">{{user.phone}}</div>
    </ng-container>
    <ng-container *ngIf="user.website">
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-link app-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><a class="app-link" [href]="user.website">{{user.website}}</a></div>
    </ng-container>
    <ng-container *ngIf="user.company">
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><i class="fa fa-building app-icon"></i></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 todo-company"><b>{{user.company.name}}</b>
        <br *ngIf="user.company.catchphrase"/>{{user.company.catchphrase}}<br/>{{user.company.bs}}
      </div>
    </ng-container>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 todo-view-button">
      <button type="button" class="btn btn-primary" (click)="viewTodos(user)">View Todo</button>
    </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>
